/**
 *
 * {{ properCase name }}
 *
 */

import React from 'react';

class {{ properCase name }} extends React.Component {
  constructor(props) {
    super(props);
    this.state = {
      
    };
  }
  render() {
    return (
       <div>{{properCase name}}</div>
    );
  }
}

export default {{ properCase name }};
