*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}

.asd{
    position: absolute;
    top: 0;
    bottom: 0;

    
    .span{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}